.DS_Store

pom.xml.asc
settings.xml
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/

node_modules/*
yarn-error.log
.shadow-cljs/*
.cljs_node_repl/*

.dir-locals.el
.projectile
.#*
.clj-kondo/.cache/*
.clj-kondo/com.crypticbutter/snoop
.lsp/.cache
